.othersMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.othersMessage > .text {
  padding: 15px;
  background-color: bisque;
}

.ownMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ownMessage > .text {
  padding: 15px;
  background-color: aquamarine;
}

.messageRow {
  margin: 15px 0;
}

.chatBox {
  width: 400px;
}

.time {
  font-size: 70%;
}

input {
  padding: 10px 5px;
  width: 100%;
  border-radius: 10px;
}

.layout {
  display: flex;
  justify-content: center;
}